@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover {
  transform: scale(1.03);
}

button {
  transition: transform 0.5s;
}

.title {
  padding: 10px;
  padding-left: 15px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.engraved {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
